.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #fff;
    width: var(--width-website);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 6px rgb(209, 209, 209);
}

.logo {
    width: 160px;
    height: 50px;
}

.navbar {
    width: var(--width-website);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-item_text {
    font-weight: 600;
    color: var(--text);

    &:hover {
        color: var(--primary-color);
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .logo {
        margin-left: 10px;
        width: 130px;
        height: 30px;
    }

    .navbar-list {
        margin: 0;
    }

    .navbar-item {
        margin: 0;
        font-size: 13px;
    }

    .navbar-item ~ .navbar-item {
        margin: 0 10px;
    }
}

/* Tablet: width >=740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* PC: width >=1024px */
@media only screen and (max-width: 64em) {
}
