.container-star {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.star {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    margin-right: 2px;
    font-size: 18px;
}

.number-star {
    margin: 0;
}

@media only screen and (max-width: 46.1875em) {
    .star {
        font-size: 14px;
    }

    .number-star {
        font-size: 14px;
    }
}
