@import 'normalize.css';

:root {
    --color-background: #f5f5f5;
    --text: #333333;
    --subText: #757575;
    --width-website: 1200px;
    --primary-color: rgba(255, 152, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}
